
* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  border:16px solid;
  border-color: red #00008B;
  text-align: right;
  font-size: 8px
}
.corps{
  font-family: 'Poppins', sans-serif;
}
.search {

}
.flag {
  background-image: url(flag.svg);
background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.icon {
  background-image: url(info.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 50px;
  height:50px;
  border-radius: 60%;
  cursor:pointer;
}
li {
  display:inline-block;
  width : 33%;
  text-align:center;
}
body {
  padding:0;
  margin:0;
}
.main_title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #00008B;
  font-size: 55px;
    padding: 5%;
    margin: 0%;
}
a {
  text-decoration: none;
  color: #00008B;
}
.title{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 5px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #00008B;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}
.cta:focus {
   outline: none;
}
.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 red;
}
.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}
.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}
.cta2 {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #00008B;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    background: red;
}

.cta2:focus {
   outline: none;
}

.cta2:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #00008B;
}


.cta2 span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta2:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg)
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}
.cta2:hover path.three {
    animation: color_anim2 1s infinite 0.2s;
}

.cta2:hover path.one {
    transform: translateX(0%);
    animation: color_anim2 1s infinite 0.6s;
}

.cta2:hover path.two {
    transform: translateX(0%);
    animation: color_anim2 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: red;
    }
    100% {
        fill: white;
    }
}
@keyframes color_anim2 {
    0% {
        fill: white;
    }
    50% {
        fill: #00008B;
    }
    100% {
        fill: white;
    }
}
.search {
  background-color: #ffffff;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 3px;   /* Epaisseur de la bordure  */
  border-color: red;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  width: 70%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
  box-sizing: border-box;   /* Important */
  font-family: Lato;   /* Police du texte */
  font-size: 24px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 1px;   /* Espacement des caractères */
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.search_map {
  background-color: #ffffff;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 6px;   /* Epaisseur de la bordure  */
  border-color: red #00008B;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  width: 40%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
  height:25%;
  box-sizing: border-box;   /* Important */
  font-family: Lato;   /* Police du texte */
  font-size: 24px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 1px;   /* Espacement des caractères */
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.search-btn {
  background-color: #00008B;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #00008B;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  width: 50%;   /* Permet d'ajuster la largeur du bouton à 100% */
  box-sizing: border-box;   /* Important */
  font-family: PT sans;   /* Police du texte */
  font-size: 24px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 2px;   /* Espacement des caractères */
  text-transform: uppercase;   /* Transforme le texte en majuscules */
  color: #ffffff;   /* Couleur du texte */
  transition: all .6s ease-in;
}

.search-btn:hover {
  color: white;   /* Couleur du texte */
  cursor: pointer;   /* Apparence du curseur comme pour un lien */
  color: red;   /* Couleur du texte */
}
.select {
  font-size: 24px;
}
#mapid {
      height: 580px;
    width: 70%;
    margin-left:35%;
        margin-left: 15%;
 }
 .map {
  display: flex;
    margin-left: 23%;
 }
 #bloc1 {

 }
 #bloc2 {
  margin-right:30%;
 }
table {
  border-collapse: collapse;
  margin:auto;
  margin-top:2%;
}

table, th, td {
  border: 2px solid black;
  padding:10px;
}
hr{
width: 80%;
height: 1px;
border: 3px #00008B ridge;
}
.descriptif {
  height:520px;
  margin-left: 10%;
  float:left;
    border: 1px solid #00000057;
    border-radius: 10px;
    padding: 25px;
    background-color: #80808017;
    overflow-y:scroll;
overflow-x:hidden;
}
.global {
  margin-top:4%;
}
#page {
  width: 100%;
  height:100%;
  overflow: auto
}
#no_map {
  margin-top:40%;
  margin-left:-60%;
}
footer {
  margin-top:2%;
  padding:2%;
}